/*.barranav{
	margin-right: 1%;
	background-color: orange;
}*/
/*.barra{
	margin-bottom:55%;
}*/
.margenmedia{
	background-color: #ffdd99;
	border-bottom: solid 2px red;
	margin-bottom: : 5vw;
}
.mar{
	height: 50px;
}